<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @author Jugal Patel
 * @contact jugal@xrely.com
 */
-->
<config>
    <modules>
        <Xrely_Autocomplete>
            <version>1.1.0.0</version>
        </Xrely_Autocomplete>
    </modules>
    <global>
        <models>
            <xrely_autocomplete>
                <class>Xrely_Autocomplete_Model</class>
                <resourceModel>xrely_resource</resourceModel>
            </xrely_autocomplete>
            <xrely_resource>
                <class>Xrely_Autocomplete_Model_Resource</class>
                <entities>
                    <settings>
                        <table>xrely_autocomplete_settings</table>
                    </settings>
                </entities>
            </xrely_resource>
        </models>
        <helpers>
            <xrely_autocomplete>
                <class>Xrely_Autocomplete_Helper</class>
            </xrely_autocomplete>
        </helpers>
        <blocks>
            <xrely_autocomplete>
                <class>Xrely_Autocomplete_Block</class>
            </xrely_autocomplete>
        </blocks>
        <resources>
            <xrely_autocomplete_setup>
                <setup>
                    <module>Xrely_Autocomplete</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </xrely_autocomplete_setup>
        </resources>
        <events>
            <before_news_item_display>
                <observers>
                    <xrely_autocomplete>
                        <class>xrely_autocomplete/observer</class>
                        <method>beforeNewsDisplayed</method>
                    </xrely_autocomplete>
                </observers>
            </before_news_item_display>
            <catalog_product_save_after>
                <observers>
                    <Xrely_Autocomplete_Model_Observer>
                        <class>Xrely_Autocomplete_Model_Observer</class>
                        <method>updateProductName</method>
                   </Xrely_Autocomplete_Model_Observer>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <Xrely_Autocomplete_Model_Observer>
                        <class>Xrely_Autocomplete_Model_Observer</class>
                        <method>deleteProductName</method>
                   </Xrely_Autocomplete_Model_Observer>
                </observers>
            </catalog_product_delete_after>
        </events>
    </global>
    <frontend>
        <routers>
            <xrely_autocomplete>
                <use>standard</use>
                <args>
                    <module>Xrely_Autocomplete</module>
                    <frontName>xrely_autocomplete</frontName>
                </args>
            </xrely_autocomplete>
            <xrely_autocomplete>
                <use>standard</use>
                <args>
                    <module>Xrely_Autocomplete</module>
                    <frontName>s</frontName>
                </args>
            </xrely_autocomplete>
        </routers>
        <layout>
            <updates>
                <xrely_autocomplete>
                    <file>xrely_autocomplete.xml</file>
                </xrely_autocomplete>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Xrely_Autocomplete before="Mage_Adminhtml">Xrely_Autocomplete_Adminhtml</Xrely_Autocomplete>
                    </modules>
                </args>
            </adminhtml>
            <xrely_autocomplete>
                <use>admin</use>
                <args>
                    <module>Xrely_Autocomplete</module>
                    <frontName>xrely_autocomplete</frontName>
                </args>
            </xrely_autocomplete>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <xrely_autocomplete>
                    <file>xrely_autocomplete.xml</file>
                </xrely_autocomplete>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <xrely>
            <config>
                <imagefield>thumbnail</imagefield>
                <attributes>1</attributes>
                <layered>0</layered>
            </config>
        </xrely>
    </default>
</config>